<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/Anduser/Desktop/projects_java/k.vaskovich-task4/Framework/src/test/java">
        <classes>
            <class name="tests.TestHerokuappCom">
                <methods><include name="authorizationTest"/><include name="alertsTest"/><include name="sliderTest"/><include name="hoversPageTest"/><include name="frameTest"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>